@font-face{
    font-family: 'OpenSans-Regular';
    src:url(./file/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 1);
    width: 1400px;
    height: 3143px;
}
header{
    height: 113px; 
    width: 100%;
}
header div{
    display: inline-block;
}
.rectangle1{
    height: 45px;
    background-color: rgba(76, 177, 202, 1); 
    width: 100%;
}
.rectangle2{
    width: 100%;
}
.text-menu-1{
    float: left;
    padding-inline-start: 188px;
    font-family: OpenSans-Regular;
    color: #BEF2FF;
    font-size: 13px;
}
select{
    border: none;
    background-color: rgba(76, 177, 202, 1); 
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: white;
}
.text-menu-2{
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: OpenSans-Regular;
    padding-inline-start: 425px;
    color: white;
}
.text-menu{
    padding-right: 10px;
    padding-left: 10px;
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid white ;
}
li.text-menu:nth-child(5){
    border-right: none;
}
.text-menu a{
    text-decoration: none;
    font-size: 13px;
    color: white;
}
.text-menu a:hover {
    font-size: 1em;
    color: yellow;
}
.name{
    margin: 0px;
    float: left;
    padding-inline-start: 188px;
    font-family: OpenSans-Regular;
    font-size: 36px;
    color: #656565;
    text-transform: uppercase; 
}
.score{
    float: left;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 12px;
    font-family: OpenSans-Regular;
    font-weight: bold;
    font-size: 14px;
    white-space: pre;
    color: #656565;
    text-transform: uppercase;
}
.name-menu{
    float: left;
    font-family: OpenSans-Regular;
    font-weight: bold;
    padding-inline-start: 37px;
}
.name-menu-1{
    padding-right: 10px;
    padding-left: 10px;
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
}
.name-menu-1 a{
    text-decoration: none;
    font-size: 14px;
    color: #656565;
}
.name-menu-1 a:hover{
    font-size: 1em;
    color: #df2929;
}
* {box-sizing: border-box;}
form {
    display: flex;
    float: left;
    margin-top: 11px;
    margin-left: 113px;
    height: 32px;
    width: 177px;
}
input {
    height: 32px;
    padding-left: 10px;
    border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #B7B7B7;
    border-right:none;
    border-left: 1px solid #B7B7B7;
    outline: none;
    color: #B7B7B7;
    font-family: OpenSans-Regular;
    font-size: 13px;
}
button {
    width: 32px;
    height: 32px;
    border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #B7B7B7;
    border-right: 1px solid #B7B7B7;
    border-left: none;
    cursor: pointer;
    background-color: white;
}
button:before{
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: bold;
    color: #656565;
}
.CL{
    float: left;
    margin-top: 5px;
    margin-left: 39px;
    width: 38px;
    height: 38px;
}
.CL1{
    float: left;
    margin-top: 5px;
    margin-left: 12px;
    width: 38px;
    height: 38px;
}
.banner{
    margin: 0px;
    background-image: url(./file/BackPhoto.png);
    background-repeat: no-repeat;
    height: 480px;
}
.nb{
    float: left;
    margin-left: 100px;
    margin-top: 195px;
}
.button-left{
    float: left;
    margin-top: 203px;
    margin-left: 186px;
    width: 70px;
    height: 70px;
}
.button-right{
    float: left;
    margin-top: 203px;
    margin-left: 500px;
    width: 70px;
    height: 70px;
}
.name-banner{
    margin: 3px;
    overflow: hidden;
    width: 282px;
    height: 38px;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-size: 30px;
    background-color: #746C64;
    white-space: pre;
    color: white;
}
.name-banner1{
    margin: 3px;
    overflow: hidden;
    width: 331px;
    height: 38px;
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-size: 30px;
    font-weight: bold;
    background-color: #746C64;
    white-space: pre;
    color: white;
}
section{
    height: 65%;
}
.rightblock{
    display: block;
    float: left;
}
.leftblock{
    display: block;
    float: left;
}
.FeaturedProduct{
    margin-left: 120px;
    width: 776px;
}
.StaffProduct{
    margin-left: 120px;
    width: 776px;
}
.NewProduct{
    margin-left: 120px;
    width: 776px;
}
.Featured{
    margin-left: 20px;
    margin-top: 35px;
    text-align: center;
    width: 236px;
    height: 438px; 
    border-top: 4px solid #4CB1CA;
    border-left: 3px solid #eff1f0;
    border-right: 3px solid #eff1f0;
    border-bottom: 3px solid #eff1f0;
    overflow: hidden;
    background-image: url(./file/leftphoto.png);
    background-repeat: no-repeat;
    background-position: 46% -104%;
}
.Featuredbottom{
    margin-left: 20px;
    width: 236px;
    height: 44px; 
    border-left: 3px solid #eff1f0;
    border-right: 3px solid #eff1f0;
    border-bottom: 3px solid #eff1f0;
}
.Newsletter{
    margin-top: 35px;
    margin-left: 20px;
    width: 236px;
    height: 284px; 
    border-top: 4px solid #4CB1CA;
    border-left: 3px solid #eff1f0;
    border-right: 3px solid #eff1f0;
    border-bottom: 3px solid #eff1f0;
}
.FeaturedProduct div{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 3px solid #eff1f0;
    width: 241px;
    height: 326px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #464148;
}
.StaffProduct div{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 3px solid #eff1f0;
    width: 241px;
    height: 326px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #464148;
}
.NewProduct div{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 3px solid #eff1f0;
    width: 241px;
    height: 326px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #464148;
}
.fp, .sp, .np, .fg, .ns, a{
    text-decoration: none;
    font-family: OpenSans-Regular;
    font-size: 24px;
    color: #635F57;
    text-transform: uppercase;
}
.fg a{
    text-align: center;
}
.ns, a{
    text-align: center;
}
.card{
    overflow: hidden;
}
[class*=glasses]{
    width: 235px;
    transition: 1s;
}
[class*=glasses]:hover{
    transform: scale(1.2);
}
[class*=glasses], h3{
    color: #7db122;
    margin: 0px;
}
.new{
    position: absolute;
    z-index: 3;
    margin-top: -6px;
    margin-left: 144px;
}
.sale{
    position: absolute;
    z-index: 3;
    margin-top: -6px;
    margin-left: -6px;   
}
.basket{
    float: right;
}
.circle1{
    float: left;
    margin-left: 79px;
    background-color: rgba(76, 177, 202, 1);
    width: 14px;
    height: 14px;
    border-radius: 14px;
}
.circle2{
    float: left;
    margin-left: 10px;
    background-color: rgba(125, 177, 34, 1);
    width: 14px;
    height: 14px;
    border-radius: 14px;
}
.circle3{
    float: left;
    margin-left: 10px;
    background-color: rgba(125, 177, 34, 1);
    width: 14px;
    height: 14px;
    border-radius: 14px;
}
.check{
    margin-left: 51px;
    margin-top: 271px;
    text-align: center;
    overflow: hidden;
    width: 135px;
    background-color: rgba(76, 177, 202, 1);
    padding: 15px 25px 15px 25px;
}
.check a{
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: white; 
    text-transform: none;
}
.check a:hover{
    color: yellow;
}
.Newsletter input{
    margin-left: 22px;
    margin-top: 10px;
    border: 3px solid #eff1f0;
    width: 188px;
    height: 32px;
}
.line{
    border-top: 4px solid #eff1f0;
    width: 87px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.subscribe{
    margin-left: 56px;
    margin-top: 6px;
    overflow: hidden;
    width: 115px;
    background-color: rgba(126, 177, 35, 1);
    padding: 15px 25px 15px 25px;
}
.subscribe a{    
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: white; 
    text-transform: none;
}
.subscribe a:hover{
    color: rgb(179, 30, 30);
}
.blockfg3text{
    margin-left: 21px;
    margin-bottom: 0px;
    height: 40px;
    width: 188px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #696969;
    text-align: center;  
}
footer{
    position: relative;
    height: 506px;
}
.footermenu1{
    background-color: #4cb1ca;
    height: 106px;
    width: 100%;
}
.footermenu2{
    background-color: #39a0b9;
    height: 339px;
    width: 100%;
}
.footermenu3{
    background-color: #0b4b5a;
    height: 61px;
    width: 100%;
}
.car{
    float: left;
    width: 68px;
    height: 68px;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 0px;
}
.phone{
    float: left;
    width: 68px;
    height: 68px;
    margin-top: 20px;
    margin-left: 57px;
    margin-bottom: 0px;
}
.footermenu1 p{
    float: left;
    text-transform: uppercase;
    padding-top: 23px;
    padding-left: 23px;
}
.footermenu1 a{
    color: white;
    text-decoration: none;
    font-family: OpenSans-Regular;
    font-size: 21px;
    width: 100%;
}
.footermenu1 a:hover{
    color: yellow;
}
.down1{
    float: left;
    text-align: center;
    padding-inline-start: 123px;
    font-family: OpenSans-Regular;
    color: #7ECDE0;
    font-size: 13px;
}
.down2{
    float: left;
    text-align: center;
    color: #7ECDE0;
    padding-inline-start: 222px;
}
.down{
    padding-right: 10px;
    padding-left: 10px;
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #7ECDE0 ;
}
li.down:nth-child(4){
    border-right: none;
}
.down a{
    text-decoration: none;
    font-size: 14px;
    color: #7ECDE0;
    text-transform: none;
}
.down a:hover{
    font-size: 1em;
    color: #df2929;
    text-transform: uppercase;
}
.footlink{
    float: left;
    margin-left: 50px;
    margin-top: 32px;
}
.footlink a{
    color: white;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-weight: normal;
    font-size: 21px;
} 
.footlink a:hover{
    color: yellow;
}
.infolink{
    float: left;
    width: 228px;
    height: 133px;
    margin-left: 50px;
    margin-top: 32px;
}
.infolink ul{
    padding-left: 0px;
    margin-top: 42px;
    margin-bottom: 0px;
}
.infolink a{
    color: white;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-weight: normal;
    font-size: 21px;
} 
.infolink a:hover{
    color: yellow;
}
.infolink1 a{
    color: white;
    text-transform: none;
    font-family: OpenSans-Regular;
    font-size: 13px;
} 
.infolink1 a:hover{
    color: yellow;
}
.infolink li{
    padding-bottom: 5px;
    list-style-type: none;
}
.infolink li::before{
    color: white;
    content: ">";
    padding-right: 10px;
    font-weight: bold;
}
.contact{
    width: 116px;
    height: 106px;
    color: white;
    font-family: OpenSans-Regular;
    font-size: 13px;
}
.logo{
    width: 199px;
    height: 77px; 
    border-top: 3px solid rgba(76, 177, 202, 1);
}
.logo img:only-of-type{
    padding: 5px;
}
.fromnet1{
    float: left;
    width: 223px;
    height: 181px;
    margin-left: 50px;
    margin-top: 32px;
}
.img{
    float: left;
    margin-bottom: 21px;
    padding-right: 14px;
}
.fromnet1 p{
    margin-top: 41px;
    margin-bottom: 0px;
    color: white;
    font-family: OpenSans-Regular;
    font-size: 13px;
}
.fromnet1 a{
    color: white;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-weight: normal;
    font-size: 21px;
} 
.fromnet1 a:hover{
    color: yellow;
}
.socer{
    float: left;
    Width: 236px;
    Height:	231px;
    margin-left: 121px;
    margin-top: 32px;
}
.socer a{
    color: white;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-weight: normal;
    font-size: 21px;
} 
.socer a:hover{
    color: yellow;
}
.how{
    margin-top: 35px;
    margin-bottom: 0px;
    font-family: OpenSans-Regular;
    font-size: 13px;
    font-weight: lighter;
    color: white;
}
.plag{
    margin: 0px;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: white;
}
.like{
    margin-top: 1px;
    margin-bottom: 1px;
}
.member{
    padding-left: 2px;
    padding-top: 7px;
    width: 236px;
    height: 129px;
    border-top: 3px solid rgba(76, 177, 202, 1);
    border-bottom: 3px solid rgba(76, 177, 202, 1);
}